*,
html {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	font-weight: 600;
	min-width: 320px;
	border-radius: 55px;
	color: #dbdbdb;
	background-image: url('../images/bg.png');
	background-repeat: no-repeat;
	object-fit: cover;
	background-size: 100%;
	min-height: 100%;
}

.container {
	padding: 0 15px;
}
/* html,
body {
	touch-action: none;
} */

input {
	outline: none;
	border: none;
}

li {
	list-style: none;
	color: inherit;
}

a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
	outline: none;
}

a,
button,
input,
textarea {
	-webkit-tap-highlight-color: transparent;
	-webkit-user-select: none;
	user-select: none;
}

button {
	outline: none;
	border: none;
	background: none;
	cursor: pointer;
}

.menu {
	margin-bottom: 8px;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
}
.menu__list {
	display: flex;
	justify-content: center;
	align-items: end;
	padding-left: 0;
}

.menu__list li + li {
	margin-left: 30px;
}

.menu__list-svg {
	padding: 11px 15px;
	border-radius: 21px;
	background: #1f1f1f;
	display: block;
	max-width: 60px;
	height: 50px;
}

.menu__list-link {
	color: #8c8c8c;
	text-align: center;
	font-family: Inter;
	font-size: 10px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	z-index: 10;
}
.menu__list-text {
	display: block;
	color: #8c8c8c;
	text-align: center;
	font-family: Inter;
	font-size: 10px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	text-align: center;
	padding-top: 6px;
}

.menu__list-item:focus .path,
.menu__list-item:active .path {
	fill: #f99f15;
}

.menu__list-item:focus .menu__list-link--text,
.menu__list-item:active .menu__list-link--text {
	color: #f99f15;
}

.menu__list-item:last-child {
	position: relative;
}

.menu__list-item:last-child::after {
	content: '';
	position: absolute;
	width: 10px;
	height: 10px;
	background: #f99f15;
	border-radius: 50%;
	top: 0;
	right: 2px;
}

.friends__title {
	color: #c0c0c0;
	text-align: center;
	font-family: Inter;
	font-size: 28px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	margin: 48px 0 30px;
}

.friends__invite {
}

.friends__items {
}
.friends__item {
	display: flex;
	align-items: center;
	border-radius: 16px;
	border: 1px solid #cc7b00;
	background: rgba(16, 16, 16, 0.3);
	backdrop-filter: blur(2px);
}

.friends__item + .friends__item {
	margin-top: 20px;
}

.friends__img {
}
.friends__content {
	display: flex;
	flex-direction: column;
	align-items: start;
}

.friends__content {
	margin-left: -20px;
}

.friends__content-title {
	color: #e0e0e0;
	text-align: center;
	font-family: Montserrat;
	font-size: 20px;
	margin-bottom: 8px;
	font-weight: 700;
	line-height: normal;
}
.friends__content-descr {
	color: #bababa;
	text-align: left;
	font-family: Montserrat;
	font-size: 12px;
	font-weight: 500;
	line-height: normal;
}

.friends__content-img {
	width: 14px;
	height: 16px;
	margin: 0 4px 0 1px;
	transform: translateY(3px);
}

.friends__label {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 17px 25px;
	border-radius: 16px;
	border: 1px solid #cc7b00;
	background: rgba(16, 16, 16, 0.3);
	backdrop-filter: blur(2px);
}
.friends__link {
	display: block;
	overflow: hidden;
	margin-right: 16px;
	padding: 13px 20px;
	border-radius: 32px;
	border: 1px solid #d7ab68;
	background: #101010;
	box-shadow: 0px 0px 14.4px 0px rgba(222, 144, 28, 0.46) inset;
	color: #bbb;
	font-family: Montserrat;
	font-size: 13px;
	font-weight: 500;
	white-space: nowrap;
}
.friends__btn {
	width: 45px;
	height: 45px;
	padding: 13px;
	border-radius: 32px;
	border: 1px solid #d7ab68;
	background: #101010;
}
.friends__svg {
  transform: translateY(-40px);
	fill: #000;
	stroke-width: 1px;
	stroke: #fba31d;
  display: flex;
  justify-content: center;
}
