*,
html {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	font-weight: 600;
	min-width: 320px;
	border-radius: 55px;
	color: #dbdbdb;
	background-image: url('../images/bg.png');
	background-repeat: no-repeat;
	object-fit: cover;
	background-size: 100%;
	min-height: 100%;
}

.container {
	padding: 0 15px;
}
/* html,
body {
	touch-action: none;
} */

body {
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Стандартный синтаксис */
}

input {
	outline: none;
	border: none;
}

li {
	list-style: none;
	color: inherit;
}

a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
	outline: none;
}

a,
button,
input,
textarea {
	-webkit-tap-highlight-color: transparent;
	-webkit-user-select: none;
	user-select: none;
}

button {
	outline: none;
	border: none;
	background: none;
	cursor: pointer;
}

.balance {
	margin-bottom: 30px;
	margin-top: 15px;
}

.balance__descr {
	color: #787878;
	text-align: center;
	font-family: Montserrat;
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 6px;
}

.balance__inner {
	display: flex;
	justify-content: center;
	align-items: center;
}

.balance__img {
	width: 37px;
	height: 46px;
}

.balance__text {
	color: #d4d4d4;
	text-align: center;
	font-family: Inter;
	font-size: 40px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	margin-left: 15px;
}

.mine {
	padding-bottom: 27px;
}

.mine__item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 11px 24px 11px 13px;
	border-radius: 20px;
	border: 1px solid #fba31d;
	background: rgba(0, 0, 0, 0.02);
	box-shadow: 0px 0px 51.3px -13px rgba(251, 163, 29, 0.43) inset,
		0px 0px 76.2px 1px rgba(255, 168, 0, 0.17);
	backdrop-filter: blur(3.5px);
	transition: all 0.3s;
	height: 64px;
}

.mine__item:hover,
.mine__item:focus {
	border-radius: 20px;
	border: 1px solid #fba31d;
	background: rgba(0, 0, 0, 0.02);
	box-shadow: 0px 0px 96.5px -3px rgba(251, 163, 29, 0.43) inset,
		0px 0px 76.2px 1px rgba(255, 168, 0, 0.17);
	backdrop-filter: blur(3.5px);
}

.mine__item + .mine__item {
	margin-top: 22px;
}

.mine__item-left {
	display: flex;
	align-items: center;
}

.mine__item-img svg {
	margin-right: 13px;
	position: relative;
	transform: translate(7px);
	bottom: -2px;
}
.mine__item-img {
	margin-right: 13px;
}

.mine__item-img::after {
	content: '';
	position: absolute;
	background-image: url('../images/mine-circle.svg');
	width: 42px;
	height: 42px;
	left: 13px;
	top: 10px;
	z-index: -1;
}

.mine__item-title {
	color: #bebebe;
	text-align: center;
	font-family: Montserrat;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	margin-bottom: 2px;
}

.mine__item-title hr{
	display: inline-block;
	width: 21px;
	margin: 4px 8px 4px 8px;
	height: 1px;
}

.mine__item-nums {
	display: flex;
	align-items: center;
}
.mine__item-all {
	color: #c3801b;
	text-align: center;
	font-family: Montserrat;
	font-size: 12px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	padding-right: 15px;
	position: relative;
}

.mine__item-all::after {
	content: '';
	position: absolute;
	border-radius: 10px;
	width: 10px;
	height: 1px;
	background: #656565;
	right: 0;
	top: 7px;
	transform: translateX(50%);
}

.mine__item-gain {
	color: #656565;
	text-align: center;
	font-family: Montserrat;
	font-size: 13px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	padding-left: 15px;
}
.mine__level {
	color: #6e6e6e;
	text-align: center;
	font-family: Montserrat;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	padding-bottom: 90px;
}

.menu {
	margin-bottom: 8px;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
}
.menu__list {
	display: flex;
	justify-content: center;
	align-items: end;
	padding-left: 0;
}

.menu__list li + li {
	margin-left: 30px;
}
.menu__list-svg {
	padding: 11px 15px;
	border-radius: 21px;
	background: #1f1f1f;
	display: block;
	max-width: 60px;
	height: 50px;
	border-radius: 21px;
	background: rgba(120, 120, 120, 0.32);
	backdrop-filter: blur(3.5px);
}

.menu__list-link {
	color: #8c8c8c;
	text-align: center;
	font-family: Inter;
	font-size: 10px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	z-index: 10;
}
.menu__list-text {
	display: block;
	color: #8c8c8c;
	text-align: center;
	font-family: Inter;
	font-size: 10px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	text-align: center;
	padding-top: 6px;
}

.menu__list-item:last-child {
	position: relative;
}

.menu__list-item:last-child::after {
	content: '';
	position: absolute;
	width: 10px;
	height: 10px;
	background: #f99f15;
	border-radius: 50%;
	top: 0;
	right: 2px;
}
