*,
html {
	box-sizing: border-box;
	overflow: hidden;
}

html {
	scroll-behavior: smooth;
	overflow: hidden;
}

body {
	min-width: 320px;
	border-radius: 55px;
	background-color: #0d0d0d;
	background-size: 100%;
	min-height: 100%;
	background-image: url('../images/techworks.svg');
	background-repeat: no-repeat;
}

.container {
	padding: 0 15px;
}

html,
body {
	touch-action: none;
}

body {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

input {
	outline: none;
	border: none;
}

li {
	list-style: none;
	color: inherit;
}

a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
	outline: none;
}

a,
button,
input,
textarea {
	-webkit-tap-highlight-color: transparent;
	-webkit-user-select: none;
	user-select: none;
}

button {
	outline: none;
	border: none;
	background: none;
	cursor: pointer;
}

.techworks__inner {
	display: flex;
	flex-direction: column;
	justify-content: center;	
	align-items: center;

}

.techworks__img{
	width: 323px;
	height: 310px;
}

.techworks__title {
  text-align: center;
	color: #f9f9f9;
	font-family: Montserrat;
	font-size: 47px;
	font-style: normal;
	font-weight: 900;
	line-height: normal;
	text-transform: uppercase;
}

.techworks__title span {
	color: #f99f15;
	font-family: Montserrat;
	font-size: 47px;
	font-style: normal;
	font-weight: 900;
	line-height: normal;
	text-transform: uppercase;
}
